@font-face {
  font-family: 'josefin';
  src: url('../../Assets/Fonts/Josefin/JosefinSlab-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'josefin-sans';
  src: url('../../Assets/Fonts/Josefin-Sans/JosefinSans-Regular.ttf') format('truetype');
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFE1E1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}

.navbar{
  background-color: #8C1C13;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.nav-box{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#nav-merk{
  color: white;
  font-family: 'josefin';
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-kanan{
  display: flex;
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  font-family: 'josefin-sans';
}

.nav-item{
  height: 80px;
  align-items: center;
  justify-content: center;
}

.nav-btn{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  border: none;
  outline: none;
  background-color: #8C1C13;
  font-family: 'josefin-sans';
}

.nav-btn:hover{
  background-color: #994F49;
  transition: all 0.3s ease;
}

#nav-btn-testi{
  margin-right: 20px;
}

.nav-acc{
  display: flex;
  height: 80px;
  align-items: center;
}

.nav-acc button{
  border-width: 1;
  border-color: white;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  background-color: #8C1C13;
  padding: 10px;
  font-family: 'josefin-sans';
  color: white;
  border-style: solid;
}

.nav-acc button:hover{
  background-color: white;
  color: #8C1C13;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  font-family: 'josefin-sans';
}

#nav-sign {
  background-color: white;
  color: #8C1C13;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  font-family: 'josefin-sans';
}

#nav-sign:hover {
  background-color: #ffb7b7;
  transition: background-color 0.3s ease;
}

@media (max-width:768px){
  .nav-box{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  
  .nav-kanan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  .nav-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 240px;
    z-index: -1;
    background-color: #8C1C13;
    right: 0%;
  }

  .nav-menu.active{
    background-color: #8C1C13;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 240px;
    font-size: 1.6rem;
    right: 0%;
  }

  #nav-merk{
    padding-left: 25px;
  }

  .nav-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  .nav-item{
    width: 100%;
  }

  .nav-btn{
    text-align: center;
    padding: 2rem;;
    width: 100%;
    display: table;
    cursor: pointer;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 30%);
    cursor: pointer;
  }
  
  .nav-acc{
    display: flex;
    justify-content: center;
    height: 80px;
  }

  .nav-toggle .bar{
    display: block;
    
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

}


/* =============================================================================== */
  
.promo {
  position: relative;
  width: 75%; 
  margin: auto; 
  margin-top: 20px;
}

.promo-img {
  width: 100%; 
  max-height: 350px;
  border-radius: 15px;
  filter: brightness(65%);
  aspect-ratio:initial;
}

.promo-text {
  position: absolute;
  top: 1%; 
  left: 2%;
  color: white; 
  font-size:26px;
  font-family: 'josefin-sans';
  line-height: 10%;
}

.lasagna{
  position: absolute;
  bottom: 1%; 
  right: 2%;
  color: white; 
  font-size:26px;
  font-family: 'josefin-sans';
  line-height: 10%;
  text-align: right;
}

@media (max-width:768px){

  .promo{
    width: 85%;
  }
  .promo-text{
    font-size:22px
  }
  .lasagna{
    font-size: 22px;
  }
}

.box-daily{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: fit-content;
  background-color: #8C1C13;
  width: 100%;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 20px;
}

.box-menu::-webkit-scrollbar {
  display: none;
}

.box-menu{
  background-color: #8C1C13;
  width: 75%;
    height: 340px;
    min-height: 340px;
    max-height: 340px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-gap: 20px;
    margin-top: 15px;
  padding-bottom: 30px;
}

.daily-title{
  color: white;
  font-family: 'josefin-sans';
  font-size: 28px;
}

.box1{
  background-color: white;
  border-radius: 20px;
  padding: 10%;
  width: auto;
  text-align: center;
  height: 290px;
  font-size: 18px;
  font-family: 'josefin-sans';
  color: #8C1C13;
  position: relative;
}
.ket-bawah{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name{
  height: 50px;
  max-height: 50px;
}

.harga{
  font-size: 20px;
}

.ket-bawah button{
  border-width: 0;
  border-radius: 30px;
  font-family: 'josefin-sans';
  font-size: 14px;
  color: #8C1C13;
  background-color: white;
  width: 100px;
}

.ket-bawah button:hover{
  background-color: #ffb7b7;
  transition: all 0.3s ease;
}

.box1 img{
  aspect-ratio: 1;
  width: 125px;
}


.wed-title{
  text-align: center;
  font-size: 28px;
  font-family: 'josefin-sans';
  color: #8C1C13;
}

.wed-1-parent{
  width: 75%;
  margin: 20px auto;
  border-radius: 15px;
  display: grid;
  grid-template-columns:1fr 2fr;
  text-align: center;
}

.item{
  background-color: #8C1C13;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-child(even){
  background-color: white;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px){
  .wed-1-parent{
    grid-template-columns:none;
    grid-template-rows: 1fr 2fr;
    width: 90%;
  }

  .item{
    border-radius: 20px 20px 0 0;
  }

  .item:nth-child(even){
    border-radius: 0 0 20px 20px;
  }
}

.wed1-text{
  font-family: 'josefin-sans';
  color: white;
  font-size: 18px;
}

.wed1-title{
  font-size: 28px;
}

.wed1-top{
  display: inline-flex;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.wed1-menu-item{
  background-color: green;
  display: flex;
}

.item button{
  border-width: 0px;
  border-radius: 15px;
  width: 150px;
  font-family: 'josefin-sans';
  color: #8C1C13;
  font-size: 17px;
}

.item button:hover{
  background-color: #ffb7b7;
  transition: all 0.3s ease;
}

.wed1-bot{
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.box2{
  background-color: #8C1C13;
  margin: 20px auto;
  width: fit-content;
  max-width: 40%;
  padding: 2%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'josefin-sans';
  color: white;
  height: 250px;
}

.box2-bot{
  background-color: #8C1C13;
  margin: 20px auto;
  width: fit-content;
  max-width: 20%;
  padding: 2%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'josefin-sans';
  color: white;
  height: 250px;
}

.box2 img{
  height: 10vw;
  aspect-ratio: 1;
  border-radius: 15px;
}

.box2-bot img{
  height: 7.5vw;
  aspect-ratio: 1;
  border-radius: 15px;
}

.ket{
  width: 100px;
  font-size: 12px;
}

@media (max-width:768px){
  .box2 img{
    height: 35%;
    aspect-ratio: 1;
    border-radius: 15px;
  }
  .box2-bot img{
    height: 25%;
    aspect-ratio: 1;
    border-radius: 15px;
  }

  .box2{
    background-color: #8C1C13;
    margin: 20px auto;
    width: fit-content;
    min-width: 20%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'josefin-sans';
    color: white;
    height: 175px;
  }

  .box2-bot{
    background-color: #8C1C13;
    margin: 20px auto;
    width: fit-content;
    min-width: 20%;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'josefin-sans';
    color: white;
    height: 200px;
  }

  .ket{
    max-width: 50px;
    font-size: 10px;
  }

  .box2-title{
    max-width: 50px;
    font-size: 6px;
  }
}



/* @media (max-width:768px){
  .wed-title{
    text-align: center;
    font-size: 22px;
    font-family: 'josefin-sans';
    color: #8C1C13;
  }

  .wed1-text{
    font-family: 'josefin-sans';
    color: white;
    font-size: 12px;
  }
  
  .wed1-title{
    font-size: 22px;
  }
  
  .item{
    background-color: #8C1C13;
    border-radius: 20px 0 0 20px;
  }
  
  .item:nth-child(odd){
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item:nth-child(even){
    background-color: white;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .box2{
    background-color: #8C1C13;
    margin: 15px auto;
    width: fit-content;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'josefin-sans';
    color: white;
    height: 200px;
  }
  
  .box2-bot{
    background-color: #8C1C13;
    margin: 20px auto;
    width: fit-content;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'josefin-sans';
    color: white;
    height: 200px;
  }
  
  .wed1-top{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
  }
  
  .item button{
    border-width: 0px;
    border-radius: 15px;
    width: 50px;
    font-family: 'josefin-sans';
    color: #8C1C13;
    font-size: 12px;
  }
  
  .item button:hover{
    background-color: #ffb7b7;
    cursor: pointer;
  }
  
  .wed1-bot{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .box2 img{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 15px;
  }
  
  .ket{
    width: 100px;
    font-size: 12px;
  }
  
  .box2-bot img{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 15px;
  }
} */

/* ======================================================================== */
footer{
  position: relative; 
  background-color: #8C1C13;
  height: fit-content;
  z-index: 50;
}

.box-footer{
  background-color: #8C1C13;
  min-height: fit-content;
  margin-top: 5%;
}

.box-footer hr{
width: 90%;
}

.tombol-footer button{
  font-size: 20px;
}


.footer-atas{
  position: relative;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer-atas button{
  border: none;
  height: 75px;
  background-color: #8C1C13;
  color: white;
  font-family: 'josefin-sans';
}
.footer-atas button:hover{
  background-color: #994F49;
  transition: all 0.3s ease;
}

.footer-bawah h1{
  color:white;
  font-family: 'josefin';
}
.footer-bawah{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 100px 0px 100px;
  background-color: #8c1c13;
}
@media (max-width: 768px) {
  .footer-bawah {
    flex-direction: column; 
    align-items: center; 
  }

  .tombol-footer button{
    font-size: 12px;
  }

  .footer-bawah h1, .kontak-footer {
    width: 100%; 
    text-align: center; 
  }
}

.logo-footer{
  width: 40px;
  aspect-ratio: 1;
}
.kontak-footer{
  color: white;
  font-family: 'josefin-sans';
  max-height: 100px;
  min-width: fit-content;
}

.logo-medsos{
  margin: 0;
  padding: 0;
}

.logo-medsos li{
  display: inline;
}





  